<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/stylesheets") %>
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/navbar") %> <%- include("partials/header") %>
    <section id="seccionMedia">
      <div class="container">
        <form action="/" class="mt-4 crearArticulo" method="get">
          <div class="p-4">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Buscar por autor</label>
              <input
                type="text"
                class="form-control"
                id="authorFilter"
                name="authorFilter"
                placeholder="Ingrese autor..."
              />
            </div>
          </div>
        </form>
        <form action="/" class="mt-4 crearArticulo" method="get">
          <div class="p-4">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Buscar por título</label>
              <input
                type="text"
                class="form-control"
                id="titleFilter"
                name="titleFilter"
                placeholder="Ingrese título..."
              />
            </div>
          </div>
        </form>
        <% for (let article of articles.reverse()) { %>

        <div class="divArticuloHome">
          <a href="/articles/<%-article.id%> " class="tituloArticulo"> <%= article.title %> </a>
          <small class="fechaArticulo"
            >Creado por <%= article.user.firstname + " " + article.user.lastname %> el
            <%=article.createdAt.toLocaleDateString('es-ES',{year: 'numeric', month: 'long', day:
            'numeric'}) %></small
          >
          <hr class="divisor" />
        </div>
        <% } %>
      </div>
    </section>
    <%- include("partials/footer") %> <%- include("partials/scripts") %>
  </body>
</html>
