<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/stylesheets") %>
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/navbar") %> <%- include("partials/header") %>
    <section id="seccionMedia">
      <div class="container">
        <% for (let article of articles.reverse()) { %>

        <div class="divArticuloHome">
          <a href="/articles/<%-article.id%> " class="tituloArticulo"> <%= article.title %> </a>
          <small class="fechaArticulo"
            >Creado por <%= article.user.firstname + " " + article.user.lastname %> el
            <%=article.createdAt.toLocaleDateString('es-ES',{year: 'numeric', month: 'long', day:
            'numeric'}) %></small
          >
          <hr class="divisor" />
        </div>
        <% } %>
      </div>
    </section>
    <%- include("partials/footer") %> <%- include("partials/scripts") %>
  </body>
</html>
